# ignore os arquivos de dados que são estupidamente grandes para subir no git
data/raw/*
data/temp/*
data/processed/pbp_season_files/*
data/processed/pbp.RData
data/processed/pbp_tokenized.RData
.Rproj.user
